<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <p>
        <a href="/flats">Airbnb</a>
      </p>
      <p>
        <a href="/flats/new" class="btn btn-primary">Add Flat</a>
      </p>
    </div>
    <%= yield %>
  </body>
</html>
